<div class="center">
    <label>ID</label>
    <div class="container">
        <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput="matInput" 
            class="form-field" 
            id="id-form" 
            [(ngModel)]="user.id"
            />
        </mat-form-field>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Name</label>
            <input type="text" 
            class="form-control mb-2" 
            id="validationCustom01" 
            placeholder="Name" 
            [(ngModel)]="user.name"
            required="required">
            <div class="valid-feedback">
                Looks good!
            </div>


                <label>Password</label>
                <label for="validationCustom01">Name</label>
                <input type="text" 
                class="form-control mb-2" 
                id="validationCustom01" 
                placeholder="password" 
                [(ngModel)]="user.password"
                required="required">
              
                </div>
            </div>

            <button class="btn btn-primary" (click)="postUser(user)">Enviar</button>
            <button class="btn btn-danger" (click)="deleteUser(user.id)">Deletar</button>
            <button class="btn btn-warning" (click)="putUser()">Alterar</button>
</div>


<div class="center">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Password</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of users">
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.password}}</td>
          </tr>
       
        </tbody>
      </table>
</div>
<h1>{{user.id}}</h1>